.container {
  font: var(--main-font);
  position: absolute;
  padding: 0;
  border-radius: 4px;
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  list-style: none;
  opacity: 1;
  white-space: nowrap;
  visibility: visible;
  transition: opacity .2s ease, visibility .2s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
