.item {
  cursor: pointer;
  margin: 0;
  padding: 8px 14px;
  user-select: none;
}

.item:hover {
  background: #ffefd7;
}

.disabled {
  cursor: default;
  color: var(--text-secondary);
  opacity: 0.4;
}

.item.disabled:hover {
  background: transparent;
}
