.container {
  font: var(--main-font);
  white-space: nowrap;
}

.label {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 7px;
}

.input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: block;
  width: 100%;
  color: var(--text-secondary);
  height: 27px;
  background: var(--bg-primary);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

.option {
  padding: 4px 0;
  cursor: pointer;
}
